/* UpComing */
.Upcomings {
  padding: 20px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Upcomings h1 {
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(105deg, #ae67fa 1.84%, #f49867 45.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Upcomings .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.Upcomings .card {
  grid-row: span 1;
  background-color: var(--color-blog);
  position: relative;
  padding-bottom: 40px;
}
.Upcomings .card:nth-of-type(1) {
  grid-row: span 2;
}
.Upcomings .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Upcomings .card .read {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background: #081529; */
}
.Upcomings .card .read p {
  font-size: 12px;
}
.Upcomings .upcoming-card-date {
  color: var(--color-subtext);
  font-weight: bold;
}
.Upcomings .upcoming-card-description {
  color: #b5b5b5;
}
.Upcomings .card a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-decoration: underline;
  color: orange;
  cursor: pointer;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .Upcomings > h1 {
    font-size: 2rem;
    width: 100%;
  }
  .Upcomings .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Upcomings .content .card {
    height: auto;
    width: 47%;
  }
  .Upcomings .content .card .read h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  .Upcomings .content .card img {
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .Upcomings .content .card {
    width: 100%;
  }
}
